/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */


* {
  border: none;
  font-family: 'JetBrainsMono Nerd Font' , 'Symbols Only';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 30px;
  /* height: 30px; */
}

window#waybar {
  background: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  background-color: #191a24;
  color: #c0caf5;
  margin-top: 5px;
	margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
	margin-left: 15px;
}

#workspaces button {
  background: #191a24;
  color: #c0caf5;
  border-radius: 8px;
  margin: 2px 4px;
  padding: 4px 8px;
  border: none;
  box-shadow: none;
}

#workspaces button.active {
  color: #2ac3de;
  background-color: #2a2d45;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #191a24;
}

#clock, #backlight, #custom-cava,#temperature, #cpu, #pulseaudio, #network, #battery , #tray, #memory ,#custom-playerctl{
  border-radius: 10px;
  background-color: #191a24;
  color: #c0caf5;
  margin-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 15px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f38ba8;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray{
  padding-right: 8px;
  padding-left: 10px;
}
